@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #3B4664;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 47px;
  flex: 1;
}
